DATABASE_URL=postgresql+asyncpg://usuario:password@localhost:5432/adulto_mayor_db
SECRET_KEY=cambia_esto_por_una_clave_segura_de_32_chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=8
APP_NAME=Plataforma Adulto Mayor API
DEBUG=True
